@font-face {
    font-family: font;
    src: url(fontes/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: font2;
    src: url(fontes/Roboto/Roboto-BoldItalic.ttf);
}



body{
    background-image: url(imagens/table-tennis-g5b4357475_1920.jpg);
    background-repeat: no-repeat;
    image-resolution: 100%;
    background-attachment: fixed;
   
}

h1{
    color: #ffffff;
    font-size: 60px;
    text-align: left;
    margin-top: 100px;
    text-shadow: 1px 2px 3px #000;
    font-family: 'font';
}
hr{
background-color: aliceblue;
height: 1px;
color: #ffffff;

}

p{
color: #fff;
font-size: 40px;
text-shadow: 1px 2px 3px #000;
margin-right: 500px;
font-family: 'font2';
margin-left: 500px;
}

.btn{
    padding: 20px 20px;
    background:  rgba(0, 0, 0, 0.185);
    text-align: center;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    font-size: 65px;
   Display: inline-block;
   Margin: 40px;
   Padding: 15px;
   font-family: 'font';
   margin-top: 300px;
   margin-left: 1400px;
   position: absolute;
 }
 .btn:hover{
    background:  rgba(0, 0, 0, 0.658);
    
}
a{
    Display: inline-block;
    Text-decoration: none;
    color: white;
}

.img{
    position: absolute;
    margin-top: 70px;
    margin-left: 200px;
}
p{
    margin-left: 1440px;
margin-top: 140px;
font-size: 70px;
}
.form{
    text-align: center;
    color: #fff;
    font-size: 70px;
    display:inline-block;
    
}
input{
    height: 60px;
    font-size: 30px;
    margin-top: 20px;
    width: 700px;
    border-radius: 20px;
    margin-left: 500px;
}



